<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" preserve-order= "true">
    <classes>
    <!--  Do not Comment this class as driver launch is happening here===== -->
      <class name="app.consumerApp.featureTest.AppLaunchSuiteTest"/>
    <!--  ======================================================================= -->
      
      <class name="app.consumerApp.featureTest.LoginFeatureTest"/>
      <class name="app.consumerApp.featureTest.ProfileFeatureTest"/>
      <class name="app.consumerApp.featureTest.ServiceRequestFeatureTest"/>
      <class name="app.consumerApp.featureTest.DocBoxFeatureTest"/> 
      <class name="app.consumerApp.featureTest.LoyaltyFeatureTest"/>
      <class name="app.consumerApp.featureTest.AddProductFeatureTest"/>  
      <class name="app.consumerApp.featureTest.LoyaltyAfterAddProductFeatureTest"/>  
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
